fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
bcrypt
sqlalchemy
psycopg2-binary
slowapi
limits
python-dotenv
python-multipart
polars
pdfplumber
pymupdf
pytest
httpx
brutils
transformers
torch
pillow
accelerate
setuptools
wheel
torchvision
pillow
pillow
pydantic
sentence_transformers
unidecode
joblib
scikit-learn